@model BusinessLogic.DTO.Event.GetEventDTO;
@{
    ViewData["Title"] = "Calendar - Details Event";
}
@section Styles {
    <link rel="stylesheet" href="~/css/detailsEvent.css" />
}
@section Scripts {
    <script src="~/js/detailsEvent.js"></script>
}
<div class="main-cnt">
    <div class="info-container">
        <label>@Model.Title</label>
        <div class="main-info">
            <div class="description">
                <span>
                     @Model.Description
                </span>
            </div>
            <div class="rest-group">
                @if (Model.Image != null && !string.IsNullOrEmpty(Model.Image.Base64) && !string.IsNullOrEmpty(Model.Image.Extension))
                {
                    <img alt="car" class="car-image" src="data:image/@Model.Image.Extension;base64,@Model.Image.Base64" />
                }
                else
                {
                    <img src="~/images/default_car.png" id="car-img" alt="car-ing" class="car-img">
                }
                @if (ViewBag.isOwner)
                {
                    <button class="edit-button">
                        <label>Edit</label>
                        <img src="~/images/draw.png" alt="edit" class="edit-image" id="edit-image" width="35px" height="35px">
                    </button>
                }
            </div>
        </div>
        <div class="event-content">
            <label>by</label>
            <button class="profil-btn" id="profil-button" onclick="window.location.href='/user/ProfileView?id=@Model.Publisher.Id'">
                @if (Model.Publisher.ProfileImage != null && !string.IsNullOrEmpty(Model.Publisher.ProfileImage.Base64) && !string.IsNullOrEmpty(Model.Publisher.ProfileImage.Extension))
                {
                    <img class="profil-img" src="data:image/@Model.Publisher.ProfileImage.Extension;base64,@Model.Publisher.ProfileImage.Base64" />
                }
                else
                {
                    <img src="~/images/profilowe.jpg" id="profil-img" alt="profil" class="profil-img">
                }
            </button>
            <label>@Model.Publisher.UserName</label>
        </div>
        <div class="event-content">
            <label>@Model.Location</label>
            <img src="~/images/pin.png" alt="pin" class="pin-image" id="pin-image">
        </div>
        <div class="event-content">
            <label>From</label>
            <label class="hour">@Model.TimeFrom.ToString("HH:mm")</label>
            <label class="date">@Model.TimeFrom.ToString("dd-MM-yyyy")</label>
            <img src="~/images/calendar.png" alt="calendar" class="calendar-image" id="calendar-image">
            <label>To</label>
            <label class="hour">@Model.TimeTo.ToString("HH:mm")</label>
            <label class="date">@Model.TimeTo.ToString("dd-MM-yyyy")</label>
            <img src="~/images/calendar.png" alt="calendar" class="calendar-image" id="calendar-image">
        </div>
        <div class="line">
        </div>
        <div class="interested-section">
            <div class="interested-header">
                <img src="~/images/group.png" alt="group" class="group-image" id="group-image">
                <span>250 Interested</span>
                <button id="toggle-list">▼</button>
            </div>
            <ol class="interested-list hidden">
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
                <li>
                    <span>▷</span>
                    <button class="profil-btn" id="profil-button">
                        <img src="~/images/profilowe.jpg" alt="profil" class="profil-image" id="profil-image">
                    </button>
                    <span>RoyBig</span>
                </li>
            </ol>
        </div>
        <div class="details-action">
            <button class="go-back" onclick="window.location.href='/Calendar/EventsList'">
                <span>Take me back</span>
            </button>
            <button class="show-more">
                <span>Show more details</span>
            </button>
        </div>
    </div>
</div>
