@model BusinessLogic.DTO.Event.UpdateEventDTO;
@{
    ViewData["Title"] = "Calendar - Edit Event";
}
@section Styles {
    <link rel="stylesheet" href="~/css/addEditEventPostTopic.css" />
}
@section Scripts {
    <script src="~/js/editingImage.js"></script>
}
<div class="form-container">
    <form asp-action="EditEvent" method="post">
        <input type="hidden" asp-for="Id" />
        <h2>Edit event</h2>
        <div class="form-group">
            <label for="type">Type</label>
            <select id="type" asp-for="EventType">
                @foreach (var eventType in Enum.GetValues(typeof(DB.Enums.EventType)).Cast<DB.Enums.EventType>())
                {
                    <option value="@eventType">
                        @eventType
                    </option>
                }
            </select>
        </div>
        <div class="validate">
            <span asp-validation-for="EventType" class="text-danger"></span>
        </div>
        <div class="date-group">
            <div class="form-control">
                <label for="datetime-from">Date from</label>
                <input type="datetime-local" id="datetime-from" asp-for="TimeFrom">
            </div>
            <div class="form-control">
                <label for="datetime-to">Date to</label>
                <input type="datetime-local" id="datetime-to" asp-for="TimeTo">
            </div>
        </div>
        <div class="date-group">
            <span asp-validation-for="TimeFrom" class="text-danger"></span>
            <span asp-validation-for="TimeTo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" asp-for="Title">
        </div>
        <div class="validate">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" rows="4" placeholder="Enter description" asp-for="Description"></textarea>
        </div>
        <div class="validate">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" asp-for="Location">
        </div>
        <div class="validate">
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        
        <div class="form-group image-upload">
            <label for="photo-select__file" class="load-image-label">Load image</label>
            <input id="photo-select__file" type="file" accept="image/*" style="display: none;">

            <div class="current-image" style="display: @(!string.IsNullOrEmpty(Model.Image?.Base64) ? "block" : "none")">
                <img id="image-preview" src="@(string.IsNullOrEmpty(Model.Image?.Base64) ? "#" : $"data:image/{Model.Image.Extension};base64,{Model.Image.Base64}")" alt="Preview of uploaded image" style="width: 200px; height: auto;">
            </div>

            <input type="hidden" id="base64" name="Image.Base64" value="@Model.Image?.Base64" />
            <input type="hidden" id="extension" name="Image.Extension" value="@Model.Image?.Extension" />
        </div>
        <div class="form-actions">
            <button type="button" class="cancel-btn" onclick="window.location.href='/Calendar/detailsEvent?id=@Model.Id'">Cancel</button>
            <button type="submit" class="create-btn">Save changes</button>
        </div>
    </form>
</div>