@model List<BusinessLogic.DTO.Event.EventDTO>
@{
    ViewData["Title"] = "Calendar - Events List";
}
@section Styles {
    <link rel="stylesheet" href="~/css/eventsList.css">
}
@section Scripts {
    <script src="~/js/eventsList.js"></script>
}
<section>
    <form method="get" action="@Url.Action("EventsList", "Calendar")">
    <div class="up-section">
        <div class="nav-tree">
            <label for="place">Calendar</label>
        </div>
            <div class="sort">
                <label for="sort_by">Sort By</label>
                    <select id="sortBy" name="sortBy" onchange="this.form.submit()">
                        @if (ViewBag.SortBy == "date_asc")
                        {
                            <option value="date_asc" selected>Date ASC</option>
                        }
                        else
                        {
                            <option value="date_asc">Date ASC</option>
                        }

                        @if (ViewBag.SortBy == "date_desc")
                        {
                            <option value="date_desc" selected>Date DESC</option>
                        }
                        else
                        {
                            <option value="date_desc">Date DESC</option>
                        }

                        @if (ViewBag.SortBy == "alphabetical_asc")
                        {
                            <option value="alphabetical_asc" selected>Alphabetical ASC</option>
                        }
                        else
                        {
                            <option value="alphabetical_asc">Alphabetical ASC</option>
                        }

                        @if (ViewBag.SortBy == "alphabetical_desc")
                        {
                            <option value="alphabetical_desc" selected>Alphabetical DESC</option>
                        }
                        else
                        {
                            <option value="alphabetical_desc">Alphabetical DESC</option>
                        }
                    </select>
            </div>
    </div>
    <div class="second-section">
        <div class="filter-by">
            <label>Filter by</label>
                <button class="clear" id="clear-filters-btn">
                <span>X Clear All</span>
            </button>
        </div>
        <div class="filter-group">
            <div class="date-group">
                <label for="datetime-from" >Date from</label>
                    <input type="datetime-local" id="datetime-from" name="dateFrom" value="@ViewBag.DateFrom" onchange="this.form.submit()">
            </div>
            <div class="date-group">
                <label for="datetime-to">Date to</label>
                    <input type="datetime-local" id="datetime-to" name="dateTo" value="@ViewBag.DateTo" onchange="this.form.submit()">
            </div>
        </div>
        <div class="location-group">
            <label for="location">Location</label>
            <select id="location" class="location"name="location" onchange="this.form.submit()">
        <option value="">-- Select Location --</option>
        @foreach (var loc in ViewBag.Locations as List<string>)
        {
            @if (ViewBag.SelectedLocation == loc)
            {
                 <option value="@loc" selected>@loc</option>
            }
            else
            {
             <option value="@loc">@loc</option>
            }
        }
    </select>
        </div>
        <div class="location-group">
            <label for="status">Status</label>
            <div class="status-group">
                <label class="status">Owner</label>
                    <input type="checkbox" id="owner" name="owner" value="true"
                    @(ViewBag.Owner == true ? "checked" : "") onchange="this.form.submit()">
            </div>
            <div class="status-group">
                <label class="status">Interested</label>
                    <input type="checkbox" id="interested" name="interested" value="true"
                    @(ViewBag.Interested == true ? "checked" : "") onchange="this.form.submit()">
            </div>
        </div>
        <div class="search-bar">
            <button type="submit">
                <img src="~/images/peel.svg" alt="peel" class="peel-icon" id="peel-icon">
            </button>
            <input type="text" name="search" value="@ViewBag.search" id="search" placeholder="Search">
        </div>
            <div class="adding-section">
                <button type="button" class="add-section" onclick="window.location.href='/Calendar/AddEvent'">
                    Plan new event
                </button>
            </div>
    </div>
</form>
</section>
<div class="main-cnt">
    <ul>
        @foreach(var ev3nt in Model)
        {
        <li>
                @if (ev3nt.Image != null && !string.IsNullOrEmpty(ev3nt.Image.Base64) && !string.IsNullOrEmpty(ev3nt.Image.Extension))
                {
                    <img alt="car" class="event-image" src="data:image/@ev3nt.Image.Extension;base64,@ev3nt.Image.Base64" />
                }
                else
                {
                    <img src="~/images/default_car.png" id="event-img" alt="event" class="event-img">
                }
            <div class="event-info">
                    <label>
                       @ev3nt.Title
                    </label>
                <div class="event-content">
                    <label>by</label>
                        <button class="profil-btn" id="profil-button" onclick="window.location.href='/user/ProfileView?id=@ev3nt.Publisher.Id'">
                            @if (ev3nt.Publisher.ProfileImage != null && !string.IsNullOrEmpty(ev3nt.Publisher.ProfileImage.Base64) && !string.IsNullOrEmpty(ev3nt.Publisher.ProfileImage.Extension))
                            {
                                <img class="profil-img" src="data:image/@ev3nt.Publisher.ProfileImage.Extension;base64,@ev3nt.Publisher.ProfileImage.Base64" />
                            }
                            else
                            {
                                <img src="~/images/profilowe.jpg" id="profil-img" alt="profil" class="profil-img">
                            }
                    </button>
                    <label>@ev3nt.Publisher.UserName</label>
                </div>
                <div class="event-content">
                    <label>@ev3nt.Location</label>
                    <img src="~/images/pin.png" alt="pin" class="pin-image" id="pin-image">
                </div>
                <div class="event-content">
                    <label>From</label>
                        <label class="hour">@ev3nt.TimeFrom.ToString("HH:mm")</label>
                        <label class="date">@ev3nt.TimeFrom.ToString("dd-MM-yyyy")</label>
                    <img src="~/images/calendar.png" alt="calendar" class="calendar-image" id="calendar-image">
                    <label>To</label>
                        <label class="hour">@ev3nt.TimeTo.ToString("HH:mm")</label>
                        <label class="date">@ev3nt.TimeTo.ToString("dd-MM-yyyy")</label>
                    <img src="~/images/calendar.png" alt="calendar" class="calendar-image" id="calendar-image">
                </div>
                <div class="line">
                </div>
                <div class="event-down">
                    <div class="event-interested">
                        <img src="~/images/group.png" alt="group" class="group-image" id="group-image">
                        <label>@ev3nt.InterestedList.Count()</label>
                        <label class="interested">interested</label>
                    </div>
                        <button class="event-action" onclick="window.location.href='/Calendar/detailsEvent?id=@ev3nt.Id'">
                        <span>Show more details</span>
                    </button>
                </div>
            </div>
        </li>
        }
    </ul>
</div>