@inject BusinessLogic.Services.Interfaces.IUserService UserService
@model MotoVendor.ViewModels.NewsListViewModel;
@{
    ViewData["Title"] = "News - Posts List";
    var user = UserService.GetCurrentUser().Result;
}
@section Styles {
    <link rel="stylesheet" href="~/css/postsList.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
}
@section Scripts {
    <script src="~/js/postComments.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const comments = document.querySelectorAll('.comments-content');
            comments.forEach(comment => {
                const commentContentSection = comment.querySelector('.editable-post-content');
                const immutableContentSection = commentContentSection.querySelector('.editable-content');
                const mutableContentSection = commentContentSection.querySelector('.editable-content-section');
                function switchContentSection(section) {
                    if (section === "immutable") {
                        mutableContentSection.style.display = 'none';
                        immutableContentSection.style.display = 'block';
                    }
                    else if (section === "mutable") {
                        mutableContentSection.style.display = 'block';
                        immutableContentSection.style.display = 'none';
                    }
                }
                const editButton = comment.querySelector('#edit-comment-btn');
                editButton.addEventListener('click', () => {
                    switchContentSection("mutable");
                    switchContentSectionButtonVisiblity("immutable");
                });
                const cancelButton = comment.querySelector('#cancel-edit-btn');
                cancelButton.addEventListener('click', () => {
                    switchContentSection("immutable");
                    switchContentSectionButtonVisiblity("mutable");
                });
                function switchContentSectionButtonVisiblity(sectionButton) {
                    if (sectionButton === "immutable") {
                        cancelButton.style.display = 'block';
                        editButton.style.display = 'none';
                    }
                    else if (sectionButton === "mutable") {
                        editButton.style.display = 'block';
                        cancelButton.style.display = 'none';
                    }
                }
            });
        });
    </script>
}

<div class="postList">
    <div class="listNews">
        <form method="get" action="@Url.Action("PostsList", "News")">
        <section>
            <div class="up-section">
                <div class="nav-tree">
                    <label for="place">News</label>
                </div>
            </div>
            <div class="second-section">
                <div class="filter-by">
                    <label>Filter by</label>
                        <button class="clear" id="clear-filters-btn">
                        <span>X Clear All</span>
                    </button>
                </div>
                <div class="search-bar">
                    <button type="submit">
                        <img src="~/images/peel.svg" alt="peel" class="peel-icon" id="peel-icon">
                    </button>
                    <input type="text" name="search" value="@ViewBag.search" id="search" placeholder="Search">
                </div>
                <div class="filters">
                    <div class="filter-group">
                        <div class="filter-group__title">
                            Date
                        </div>
                        <div class="filter-group__inner">
                            <div class="date-group">
                                <label for="datetime-from"></label>
                                <input type="datetime-local" id="datetime-from" name="dateFrom" value="@ViewBag.DateFrom" onchange="this.form.submit()">
                            </div>
                            <div class="date-group">
                                <label for="datetime-to"></label>
                                <input type="datetime-local" id="datetime-to" name="dateTo" value="@ViewBag.DateTo" onchange="this.form.submit()">
                            </div>
                        </div>
                    </div>
                    <div class="location-group">
                        <label for="status">Status</label>
                        <div class="location-group__inner">
                            <div class="status-group">
                                <label class="status">Owner</label>
                                    <input type="checkbox" id="owner" name="owner" value="true"
                                    @(ViewBag.Owner == true ? "checked" : "") onchange="this.form.submit()">
                            </div>
                            <div class="status-group">
                                <label class="status">Liked</label>
                                    <input type="checkbox" id="liked" name="liked" value="true"
                                    @(ViewBag.Liked == true ? "checked" : "") onchange="this.form.submit()">
                            </div>
                            <div class="status-group">
                                <label class="status">Member</label>
                                <input type="checkbox" id="member" name="member" value="true"
                                    @(ViewBag.Member == true ? "checked" : "") onchange="this.form.submit()">
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
    </form>
    <div class="posts-main">
        <div class="main-header">
            <div class="sort">
                <label for="sort_by">Sort By</label>
                <select id="sortBy" name="sortBy" onchange="this.form.submit()">
                    @if (ViewBag.SortBy == "date_asc")
                    {
                        <option value="date_asc" selected>Publication Time ASC</option>
                    }
                    else
                    {
                        <option value="date_asc">Publication Time ASC</option>
                    }

                    @if (ViewBag.SortBy == "date_desc")
                    {
                        <option value="date_desc" selected>Publication Time DESC</option>
                    }
                    else
                    {
                        <option value="date_desc">Publication Time DESC</option>
                    }
                </select>
            </div>
            <div class="adding-section">
                <a class="add-section" asp-action="AddPost">
                    Add new post
                </a>
            </div>
        </div>
        <div class="main-content">
            <ul>
                @foreach (var post in @Model.PostsList)
                {
                    <li class="posts--post">
                        @if(user != null && post.Publisher != null && post.Publisher.Id == user.Id)
                        {
                            <a class="edit-btn" asp-action="EditPost" asp-route-id="@post.Id">
                                <img src="~/images/draw.png" alt="edit" class="edit-icon" id="edit-icon">
                            </a>
                        }
                        <div class="main-post">
                            <div class="post-info">
                                <div class="profile">
                                    <button class="profil-btn" id="profil-button" onclick="window.location.href='/user/ProfileView?id=@post.Publisher.Id'">
                                        @if (post.Publisher.ProfileImage != null && !string.IsNullOrEmpty(post.Publisher.ProfileImage.Base64) && !string.IsNullOrEmpty(post.Publisher.ProfileImage.Extension))
                                        {
                                            <img class="profil-img" src="data:image/@post.Publisher.ProfileImage.Extension;base64,@post.Publisher.ProfileImage.Base64" />
                                        }
                                        else
                                        {
                                            <img src="~/images/user-icon.svg" id="profil-img" alt="profil" class="profil-img">
                                        }
                                    </button>
                                    <span>@post.Publisher?.UserName</span>
                                </div>
                                <div class="create-time">
                                    <img src="~/images/clock.png" alt="clock" class="clock-icon" id="clock-icon">
                                    <div class="date">
                                        <span>@post.PublicationTime</span>
                                    </div>
                                </div>
                            </div>
                            @if (post.Image != null && !string.IsNullOrEmpty(post.Image.Base64) && !string.IsNullOrEmpty(post.Image.Extension))
                            {
                                <img src="data:image/@post.Image?.Extension;base64,@post.Image?.Base64" alt="photo" class="photo" id="photo">
                            }
                            else
                            {
                                
                            }
                            <div class="post-content">
                                <span>
                                    <pre>@post.Content</pre>
                                </span>
                            </div>
                            <div class="line">
                            </div>
                            <div class="action-group">
                                <div class="interacted-group">
                                    @{
                                        var currentUserId = User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
                                        bool userLikedPost = Model.PostReactionsList.Any(reaction => reaction.Post.Id == post.Id && reaction.User.Id == currentUserId);
                                    }
                                    @if (!userLikedPost)
                                    {
                                    <form asp-action="LikePost" method="post">
                                        <input type="hidden" name="id" value="@post.Id" />
                                        <button class="like-btn">
                                            <img src="~/images/like.png" alt="like" class="like-icon" id="like-image">
                                        </button>
                                    </form>
                                    }
                                    else
                                    {
                                        <form asp-action="RemoveLikePost" method="post">
                                            <input type="hidden" name="id" value="@post.Id" />
                                            <button class="like-btn">
                                                <img src="~/images/liked.png" alt="liked" class="like-icon" id="liked-image">
                                            </button>
                                        </form>
                                    }
                                    <span>@Model.PostReactionsList.Where(pr => pr.Post.Id == post.Id).Count()</span>
                                </div>
                                <div class="interacted-group">
                                    <button class="comments-btn">
                                        <img src="~/images/comments.png" alt="comments" class="comments-icon" id="comments-image">
                                    </button>
                                    <span><b>Comments</b>@post.PostComments.Count()</span>
                                </div>
                            </div>
                        </div>
                        @if (false/*user != null && post.Publisher != null && post.Publisher.Id == user.Id*/)
                        {
                            <button class="x-btn">
                                <img src="~/images/x-button.png" alt="delete" class="x-icon" id="x-image">
                            </button>
                        }
                        <div class="commentsWindow-container">
                            <div id="commentsWindow" class="commentsWindow">
                                <div class="commentsWindow__inner">
                                    @foreach(var comment in post.PostComments)
                                    {
                                        <div class="comments-content">
                                            <div class="comments__btns-section">
                                                @if(user != null && post.Publisher != null && comment.Publisher?.Id == user.Id)
                                                {
                                                    <button style="display: block" id="edit-comment-btn" class="edit-comment-btn">
                                                        <img src="~/images/draw.png" alt="edit" class="edit-icon" id="edit-icon">
                                                    </button>
                                                    <button style="display: none" id="cancel-edit-btn" class="cancel-edit-btn">
                                                        <img src="~/images/x-button.png" alt="cancel" class="cancel-icon" id="cancel-icon">
                                                    </button>
                                                }
                                            </div>
                                            <div class="main-post">
                                                <div class="post-info">
                                                    <div class="profile">
                                                        <button class="profil-btn" id="profil-button" onclick="window.location.href='/user/ProfileView?id=@post.Publisher.Id'">
                                                            @if (post.Publisher.ProfileImage != null && !string.IsNullOrEmpty(comment.Publisher?.ProfileImage?.Base64) && !string.IsNullOrEmpty(comment.Publisher?.ProfileImage?.Extension))
                                                            {
                                                                <img class="profil-img" src="data:image/@comment.Publisher.ProfileImage.Extension;base64,@comment.Publisher.ProfileImage.Base64" />
                                                            }
                                                            else
                                                            {
                                                                <img src="~/images/user-icon.svg" id="profil-img" alt="profil" class="profil-img">
                                                            }
                                                        </button>
                                                        <span>@comment.Publisher?.UserName</span>
                                                    </div>
                                                    <div class="create-time">
                                                        <img src="~/images/clock.png" alt="clock" class="clock-icon" id="clock-icon">
                                                        <div class="date">
                                                            @comment.CreationTime
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="editable-post-content">
                                                    <span id="editable-content" class="editable-content">
                                                        @comment.Content
                                                    </span>
                                                    <form style="display: none" class="editable-content-section" asp-action="UpdatePostComment" asp-route-id="@comment.Id">
                                                        <textarea name="Content">@comment.Content</textarea>
                                                        <div class="editable__btn-section">
                                                            <button class="editable__btn" type="submit">Update comment</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="line">
                                                </div>
                                                <div class="action-group">
                                                    <div class="interacted-group">
                                                        <a class="like-btn" asp-action="PostCommentLike" asp-route-postCommentId="@comment.Id">
                                                            <img src="~/images/like.png" alt="like" class="like-icon" id="like-image">
                                                        </a>
                                                        @{
                                                            var likeCount = 0;
                                                            if (comment?.Reactions != null)
                                                            {
                                                                likeCount = comment.Reactions
                                                                .Where(reaction => reaction.ReactionType == DB.Enums.ReactionType.Like)
                                                                .Count();
                                                            }
                                                        }
                                                        <span>@likeCount</span>
                                                        <a class="dislike-btn" asp-action="PostCommentDislike" asp-route-postCommentId="@comment.Id">
                                                            <img src="~/images/dislike.png" alt="dislike" class="dislike-icon" id="dislike-image">
                                                        </a>
                                                        @{
                                                            var dislikeCount = 0;
                                                            if (comment?.Reactions != null)
                                                            {
                                                                dislikeCount = comment.Reactions
                                                                .Where(reaction => reaction.ReactionType == DB.Enums.ReactionType.Dislike)
                                                                .Count();
                                                            }
                                                        }
                                                        <span>@dislikeCount</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comments__right-aside">
                                                @if ((user != null && post.Publisher != null && comment.Publisher?.Id == user.Id) || User.IsInRole("Admin"))
                                                {
                                                    <form action="@Url.Action("DeleteComment", "News", new { commentId = comment.Id })" method="post">
                                                    <button style="right: 0px" class="x-btn">
                                                        <img src="~/images//trash-bin.png" alt="delete" class="x-icon" id="x-image">
                                                    </button>
                                                    </form>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                                <form class="add-comment-content" asp-action="AddPostComment" asp-route-id="@post.Id" method="post">
                                    <div class="comments__btns-section">
                                        <button id="edit-comment-btn" class="edit-comment-btn">
                                            <img src="~/images/draw.png" alt="edit" class="edit-icon" id="edit-icon">
                                        </button>
                                    </div>
                                    <div class="main-post">
                                        <div class="main-post__inner">
                                            <div class="post-content">
                                                <textarea name="Content" id="comment-textarea" placeholder="Write to comment"></textarea>
                                            </div>
                                            <button class="add-comment__submit-btn" type="submit">Add comment</button>
                                            <div id="new-comment-action" class="comment-action">
                                                <button id="cancel-btn" class="cancel-btn">
                                                    <span>Cancel</span>
                                                </button>
                                                <button class="comment-btn">
                                                    <span>Comment</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
    <div id="comment-modal">
    </div>
</div>

