@model BusinessLogic.DTO.VehicleOffer.GetVehicleOfferDTO
@{
    ViewData["Title"] = "Store - Details Offer";
}
@section Styles {
    <link rel="stylesheet" href="~/css/detailsOffer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <style>
        .breadcrumb {
            padding-left: 25px;
        }

        .breadcrumb li::after {
            content: ">";
            padding: 10px;
        }

        .breadcrumb li:last-child::after {
            content: "";
        }

        .content {
            display: grid;
            gap: 40px;
            padding-top: 15px;
            grid-template-columns: 1fr fit-content(300px);
        }

        .action-btns {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            width: 100%;
            align-items: center;
        }

        .action-btn {
            display: flex;
            width: 230px;
            height: 50px;
            justify-content: center;
            border-radius: 10px;
            border: 1px solid black;
            align-items: center;
        }

        .action-text {
            width: 90px;
            height: 30px;
            display: flex;
            align-items: center;
            font-weight: 600;
        }

        .info-categories {
            border-bottom: 1px solid #CCCCCC;
            color: #CCCCCC;
            font-size: 24px;
            gap: 30px;
        }

        .current-category {
            border-bottom: 3px solid #0066FF;
            padding-bottom: 10px;
            color: #0066FF;
        }

        .overview ul {
            flex-direction: column;
        }

        .properties {
            display: flex;
            gap: 20px;
        }

        .properties li {
            font-size: 24px;
            display: flex;
        }

        .properties li .label {
            width: 250px;
        }

        .properties .label {
            color: #646364;
        }

        .product-price {
            border: 1px solid #CCCCCC;
            display: flex;
            flex-direction: column;
            height: fit-content;
            padding: 20px;
            gap: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
        }

        .price-amount {
            font-size: 26px;
            font-weight: 700;
            display: flex;
            gap: 5px;
        }

        .price-label {
            font-size: 12px;
            font-weight: 700;
        }

        .negotiation-info {
            font-size: 13px;
            text-decoration: underline;
            font-weight: 700;
        }

        .currency-options {
            color: white;
            background-color: black;
            border-radius: 20px;
            padding: 10px;
            margin-top: 5px;
        }

        .photo-list__carousel {
            width: 100%;
            aspect-ratio: 16/9;
            border: 1px solid black;
            border-radius: 5px;
            overflow: hidden;
            max-width: 900px;
        }

        .photo-list__move-left-img {
            width: 50px;
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            background-color: white;
            padding: 50px 5px;
            border-radius: 0px 5px 5px 0px;
            border: 1px solid black;
            border-left: none;
        }

        .photo-list__carousel-list-container {
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 100%;
        }

        .photo-list__carousel-list {
            display: flex;
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .photo-list__carousel-element {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 16/9;
            cursor: pointer;
        }

        .photo-list__carousel-content {
            height: 100%;
            width: 100%;
        }

        .photo-list__move-right-img {
            width: 50px;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            background-color: white;
            padding: 50px 5px;
            border-radius: 5px 0px 0px 5px;
            border: 1px solid black;
            border-right: none;
        }

        .tabs-sections {
            height: 500px;
            padding-left: 25px;
            padding-top: 25px;
        }
        .profile-image {
            height: 150px;
            width: 150px;
        }
        .seller-info {
            display: flex;
            gap: 20px;
            padding-top: 20px;
        }

        .profile-username {
            font-size: 24px;
        }

        .tab-section__description {
            font-size: 24px;
        }
    </style>
}

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const carouselList = document.querySelector('.photo-list__carousel-list');
            let currentIndex = 0;
            function updateCarouselPosition(targetIndex) {
                let carouselItemsCount = carouselList.children.length;
                if (targetIndex >= 0 && targetIndex < carouselItemsCount) {
                    currentIndex = targetIndex;
                    carouselList.style.left = (-currentIndex * 100) + "%";
                    updateArrowsVisibility();
                }
            }

            const carouselMoveLeft = document.querySelector('.photo-list__move-left-img');
            carouselMoveLeft.addEventListener('click', () => {
                updateCarouselPosition(currentIndex - 1);
            });
            const carouselMoveRight = document.querySelector('.photo-list__move-right-img');
            carouselMoveRight.addEventListener('click', () => {
                updateCarouselPosition(currentIndex + 1);
            });

            function updateArrowsVisibility() {
                let carouselItemsCount = carouselList.children.length;
                if (currentIndex <= 0) {
                    carouselMoveLeft.style.display = 'none';
                }
                else {
                    carouselMoveLeft.style.display = 'block';
                }
                if (currentIndex >= carouselItemsCount - 1) {
                    carouselMoveRight.style.display = 'none';
                }
                else {
                    carouselMoveRight.style.display = 'block';
                }
            }
            updateArrowsVisibility();
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const infoCategories = document.querySelector('.info-categories');
            const tabSections = document.querySelector('.tabs-sections');
            const tabSectionsChildrenArray = Array.from(tabSections.children);

            hideAllSections = function () {
                tabSectionsChildrenArray.forEach(controlSectionContainer => {
                    controlSectionContainer.style.display = 'none';
                });
            }
            hideAllSections();
            if (tabSectionsChildrenArray[0])
                tabSectionsChildrenArray[0].style.display = 'block';

            const sectionButtons = document.querySelectorAll('.section-btn');
            const sectionButtonsArray = Array.from(sectionButtons);
            sectionButtons.forEach(sectionButton => {
                sectionButton.addEventListener('click', () => {
                    const btnControlSectionAttribute = sectionButton.getAttribute('tab-section-btn');
                    hideAllSections();
                    resetAllSectionButtons();
                    tabSectionsChildrenArray.forEach(tabSection => {
                        if (tabSection.getAttribute('tab-section') === btnControlSectionAttribute)
                            tabSection.style.display = 'block';
                    });
                    sectionButton.classList.add('current-category');
                });
            });

            function resetAllSectionButtons() {
                sectionButtons.forEach(sectionBtn => {
                    sectionBtn.classList.remove('current-category');
                });
            }
            resetAllSectionButtons();
            if (sectionButtonsArray[0])
                sectionButtonsArray[0].classList.add('current-category');
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const priceValueElement = document.querySelector('.price-value');
            const priceValueNum = parseInt(priceValueElement.textContent, 10);
            const formattedPrice = new Intl.NumberFormat('pl-PL', {
                style: 'decimal',
                useGrouping: true
            }).format(priceValueNum);
            priceValueElement.textContent = formattedPrice;
        });
    </script>
}

<div class="offer-details">
    <div class="offer-details__inner">
        <h1>
            Used Audi A6 C7 Allroad Quattro
        </h1>
        <div class="content">
            <div style="display: block;" class="photo-list__carousel">
                <div class="photo-list__carousel-list-container">
                    <img class="photo-list__move-left-img" src="~/images/arrow-triange-left.svg" />
                    <div style="left: 0%;" class="photo-list__carousel-list">
                        @if (Model?.Images != null)
                        {
                            @foreach (var image in Model.Images)
                            {
                                <div class="photo-list__carousel-element">
                                    <img class="photo-list__carousel-content" src="data:/images/@image.Extension;base64,@image.Base64" />
                                </div>
                            }
                            @if(Model.Images.Count == 0)
                            {
                                <img class="photo-list__carousel-content" src="~/images//default-car.png" />
                            }
                        }
                    </div>
                    <img class="photo-list__move-right-img" src="~/images/arrow-triangle-right.svg" />
                </div>
            </div>
            <div class="action-btns">
                <div class="action-btn">
                    <div class="action-text">
                        Save offer
                    </div>
                    <div class="action-icon">
                        <img src="~/images/pin-black.svg" />
                    </div>
                </div>
                @if (ViewBag.CanDelete)
                {
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="action-btn">
                        <div class="action-text">
                            Delete
                        </div>
                        <div class="action-icon">
                            <img src="~/images/bin.svg" />
                        </div>
                    </a>
                }
                <div class="action-btn">
                    <div class="action-text">
                        Report
                    </div>
                    <div class="action-icon">
                        <img src="~/images/flag.svg" />
                    </div>
                </div>
                <div class="action-btn">
                    <div class="action-text">
                        Contact user
                    </div>
                    <div class="action-icon">
                        <img src="~/images/envelope.svg" />
                    </div>
                </div>
                @if(ViewBag.CanEdit)
                {
                    <a asp-action="EditOffer" asp-route-id="@Model.Id" class="action-btn">
                        <div class="action-text">
                            Edit offer
                        </div>
                        <div class="action-icon">
                            <img style="filter: invert(1)" src="~/images/edit-icon.svg" />
                        </div>
                    </a>
                }
            </div>
            <div class="category-info">
                <div class="info-categories">
                    <button class="section-btn current-category" tab-section-btn="overview">
                        Overview
                    </button>
                    <button class="section-btn" tab-section-btn="description">
                        Description
                    </button>
                    <button class="section-btn" tab-section-btn="seller-info">
                        Seller
                    </button>
                    <button class="section-btn" tab-section-btn="contact-info">
                        Finalization
                    </button>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        function adjustParentWidth() {
                            const parent = document.querySelector('.tabs-sections');
                            const children = parent.querySelectorAll('.tab-section');

                            let maxWidth = 0;

                            children.forEach(child => {
                                maxWidth = Math.max(maxWidth, child.offsetWidth);
                            });

                            parent.style.width = `${maxWidth}px`;
                        }
                        adjustParentWidth();
                    });
                </script>
                <div class="tabs-sections">
                    <div class="tab-section" tab-section="overview">
                        <div class="overview">
                            <ul class="properties">
                                <li>
                                    <div class="label">Brand</div>
                                    <div class="value">@Model.Brand</div>
                                </li>
                                <li>
                                    <div class="label">Model</div>
                                    <div class="value">@Model.Model</div>
                                </li>
                                <li>
                                    <div class="label">Generation</div>
                                    <div class="value">@Model.Generation</div>
                                </li>
                                <li>
                                    <div class="label">Version</div>
                                    <div class="value">@Model.Version</div>
                                </li>
                                <li>
                                    <div class="label">Transmission</div>
                                    <div class="value">@Model.Transmission</div>
                                </li>
                                <li>
                                    <div class="label">Engine</div>
                                    <div class="value">Unknown</div>
                                </li>
                                <li>
                                    <div class="label">Drive</div>
                                    <div class="value">@Model.Drive</div>
                                </li>
                                <li>
                                    <div class="label">Body</div>
                                    <div class="value">@Model.Body</div>
                                </li>
                                <li>
                                    <div class="label">Color</div>
                                    <div class="value">@Model.Color</div>
                                </li>
                            </ul>
                            <ul class="properties">
                                <li>
                                    <div class="label">Condition</div>
                                    <div class="value">@Model.Condition</div>
                                </li>
                                <li>
                                    <div class="label">Number of seats</div>
                                    <div class="value">@Model.NumberOfSeats</div>
                                </li>
                                <li>
                                    <div class="label">Year of production</div>
                                    <div class="value">@Model.YearOfProduction</div>
                                </li>
                                <li>
                                    <div class="label">Mileage</div>
                                    <div class="value">@Model.Mileage km</div>
                                </li>
                                <li>
                                    <div class="label">First owner</div>
                                    <div class="value">@Model.FirstOwner</div>
                                </li>
                                <li>
                                    <div class="label">VIN</div>
                                    <div class="value">@Model.VIN</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-section" tab-section="description">
                        <div class="tab-section__description">
                            @Model.Description
                        </div>
                    </div>
                    <div class="tab-section" tab-section="seller-info">
                        <div class="seller-info">
                            <div>
                                @if (Model.User.ProfileImage != null)
                                {
                                    <img class="profile-image" src="data:image/@Model.User.ProfileImage.Extension;base64,@Model.User.ProfileImage.Base64" />
                                }
                                else
                                {
                                    <img class="profile-image" src="~/images/./default-profile.jpg" />
                                }
                            </div>
                            <div>
                                <div class="profile-username">
                                    @Model.User.UserName
                                </div>
                                <div class="profile-description">
                                    @Model.User.Description
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-section" tab-section="contact-info">
                        <div class="finalization-container">
                            <div class="finalization-label">Phone number:</div><div class="finalization-value">@Model.Phone</div>
                            <div class="finalization-label">E-mail:</div><div class="finalization-value">@Model.Phone</div>
                            <div class="finalization-label">Location:</div><div class="finalization-value">@Model.Location</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info-2">
                <div class="product-price">
                    <div class="price-group">
                        <div class="price-amount">
                            <div class="price-value">
                                @Model.Price
                            </div>
                            <div class="price-currency">
                                PLN
                            </div>
                        </div>
                        <div class="price-label">
                            Cena brutto
                        </div>
                    </div>
                    <div class="negotiation-info">
                        Cena podlega negocjacji
                    </div>
                    <div class="currency-options">
                        Check in different currency
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>