@model BusinessLogic.DTO.User.GetUserDTO;
@{
    ViewData["Title"] = "User - Profile View";
}
@section Styles {
    <link rel="stylesheet" href="~/css/profileView.css" />
}
<div class="form-container">
    <div class="profile-header">
        <div class="profil-nickname">
            <span>@Model.UserName</span>
        </div>
        <div class="profile-img">
            @if (Model.ProfileImage != null && !string.IsNullOrEmpty(Model.ProfileImage.Base64) && !string.IsNullOrEmpty(Model.ProfileImage.Extension))
            {
                <img id="profil-img" class="profil-img" src="data:image/@Model.ProfileImage.Extension;base64,@Model.ProfileImage.Base64" />
            }
            else
            {
                <img src="~/images/profilowe.jpg" id="profil-img" alt="profil" class="profil-img">
            }
        </div>
    </div>
    <div class="profile-info">
        @if (ViewBag.IsBanned)
        {
            <div class="ban-info-group">
                <span>Blocked to @ViewBag.BanExpiration</span>
                @if (ViewBag.IsCurrentUser || ViewBag.IsAdmin)
                {
                    <button class="info-button" onclick="window.location.href='/User/BanDetails?id=@ViewBag.BanId'">
                    <img src="~/images/info.png" id="ban-info-icon" alt="ban-info-icon" class="ban-icon">
                    </button>
                }
                else
                {
                    <img src="~/images/no-sign-ban-vector-icon-600nw-1676561785.webp" id="ban-icon" alt="ban-icon" class="ban-icon">
                }
            </div>
        }
        <div class="standard-info-item">
            @if (Model.Gender != null)
            {
                <span>@Model.Gender
                    , </span>
            }
            @if(Model.Age != null)
            {
                <span>@Model.Age years old, </span>
            }
            <span>on <strong>MotoVendor</strong> since @Model.CreationTime.Year</span>
        </div>
        @if (Model.Description != null && !string.IsNullOrEmpty(Model.Description))
        {
            <div class="description-info-item">
                <span>@Model.Description</span>
            </div>
        }
    </div>
    <div class="action-profile">
        <div class="nav-to">
            <span>Take me to @Model.UserName:</span>
            <button class="take-to">
                Discusions
            </button>
            <button class="take-to">
                Events
            </button>
            <button class="take-to">
                Posts
            </button>
            <button class="take-to">
                Sale ads
            </button>
        </div>
        <div class="profile-buttons">
            <button class="go-back" onclick="window.location.href='/user/ProfilesList'">
                <span>Take me to users list</span>
            </button>
            @if (ViewBag.IsCurrentUser)
            {
                <button class="edit-button" onclick="window.location.href='/user/EditProfile?id=@Model.Id'">
                    <label>Edit</label>
                    <img src="~/images/draw.png" alt="edit" class="edit-image" id="edit-image" width="35px" height="35px">
                </button>
            }
            else if (ViewBag.IsAdmin)
            {
                @if (!ViewBag.IsBanned)
                {
                    <button class="delete-button" onclick="window.location.href='/user/BanAccount?id=@Model.Id'">
                        <label>Ban account</label>
                        <img src="~/images/warning.png" alt="ban" class="x-image" id="x-image" width="35px" height="35px">
                    </button>
                }
                else
                {
                    <button class="delete-button" onclick="window.location.href='/user/RemoveBan?id=@Model.Id'">
                        <label>Remove ban</label>
                        <img src="~/images/warning.png" alt="ban" class="x-image" id="x-image" width="35px" height="35px">
                    </button>

                }
            }
            else
            {
                <button class="delete-button" onclick="window.location.href='/user/ReportAccount?id=@Model.Id'">
                    <label>Report account</label>
                    <img src="~/images/warning.png" alt="delete" class="x-image" id="x-image" width="35px" height="35px">
                </button>
            }
        </div>
    </div>
</div>