@model List<BusinessLogic.DTO.User.GetUserDTO>
@{
    ViewData["Title"] = "User - Profiles List";
}
@section Styles {
    <link rel="stylesheet" href="~/css/profilesList.css" />
}
@section Scripts {
    <script src="~/js/profilesList.js"></script>
}
<form method="get" action="@Url.Action("ProfilesList", "User")">
<section>
    <div class="up-section">
        <div class="nav-tree">
            <label for="place">Users</label>
        </div>
        <div class="sort">
            <label for="sort_by">Sort By</label>
                <select id="sortBy" name="sortBy" onchange="this.form.submit()">
                    @if (ViewBag.SortBy == "date_asc")
                    {
                        <option value="alphabetical_asc" selected>Alphabetical ASC</option>
                    }
                    else
                    {
                        <option value="alphabetical_asc">Alphabetical ASC</option>
                    }

                    @if (ViewBag.SortBy == "date_desc")
                    {
                        <option value="alphabetical_desc" selected>Alphabetical DESC</option>
                    }
                    else
                    {
                        <option value="alphabetical_desc">Alphabetical DESC</option>
                    }
            </select>
        </div>
    </div>
    <div class="second-section">
        <div class="search-bar">
                <button type="submit">
                     <img src="~/images/peel.svg" alt="peel" class="peel-icon" id="peel-icon">
                </button>
                <input type="text" name="search" value="@ViewBag.search" id="search" placeholder="Search">
        </div>
    </div>
</section>
    <div class="side-section">
        <div class="filter-by">
            <label>Filter by</label>
                <button class="clear" id="clear-filters-btn">
                <span>X Clear All</span>
            </button>
        </div>
        <div class="location-group">
            <label for="status">Type</label>
            <div class="status-group">
                <label class="status">Observed</label>
                    <input type="checkbox" id="observed" name="observed" value="true"
                    @(ViewBag.Observed == true ? "checked" : "") onchange="this.form.submit()">
            </div>
            <div class="status-group">
                <label class="status">Admin</label>
                    <input type="checkbox" id="admin" name="admin" value="true"
                    @(ViewBag.Admin == true ? "checked" : "") onchange="this.form.submit()">
            </div>
        </div>
    </div>
</form>
<div class="main-cnt">
    <ol>
        @foreach(var user in Model)
        {
            bool isAdmin = user.Roles.Contains("Admin");
            <li class="@(isAdmin ? "admin" : "")">
                <span class="nickname">@user.UserName</span>
                <button class="profile" onclick="window.location.href='/user/ProfileView?id=@user.Id'">
                    @if (user.ProfileImage != null && !string.IsNullOrEmpty(user.ProfileImage.Base64) && !string.IsNullOrEmpty(user.ProfileImage.Extension))
                    {
                        <img class="profil-img" src="data:image/@user.ProfileImage.Extension;base64,@user.ProfileImage.Base64" />
                    }
                    else
                    {
                        <img src="~/images/profilowe.jpg" id="profil-img" alt="profil" class="profil-img">
                    }
                </button>

                @if (user.IsObserved)
                {
                    <form asp-action="StopObserveUser" method="post">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="observed">
                            <img src="~/images/star.png" alt="Unobserve" class="star-img" />
                        </button>
                    </form>
                }
                else
                {
                    <form asp-action="ObserveUser" method="post">
                        <input type="hidden" name="id" value="@user.Id" />
                        <button type="submit" class="observed">
                            <img src="~/images/star (1).png" alt="Observe" class="star-img" />
                        </button>
                    </form>
                }
            </li>
        }
    </ol>
</div>
